body {
    /* position: relative !important; */
    /* height: 100%; */
    font-family: 'Special Elite', 'Helvetica Neue';
    line-height: 25px;
    color: white;
    /* background-image: linear-gradient(to right top, #afad4f, #99b661, #84be78, #70c491, #5fc8aa);
    background-repeat: no-repeat; */
    /* background-size: cover; */
    font-family: sans-serif;
    background-image: linear-gradient(0deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    position: relative;
    min-height: 100vh;

}

button{
    cursor: pointer;
}

a{
    color: white;
}

a:hover{
    color: rgb(255, 193, 36);
}

body>button {
    position: fixed;
    top: 20px;
    right: 20px;
    overflow: hidden;
    background-color: white;

    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;

    border: 1px solid black;
    z-index: 1000;
    transition: transform 0.4s;
}
body>button:hover {
    transform: scale(1.2);
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/stars.png') repeat;
    pointer-events: none;
    animation: twinkle 8s;
    animation-iteration-count: infinite;

}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }

}

#home {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1, 1;
}

.grid {
    position: sticky;
    display: grid;
    grid-template-columns: 100%;
    /* border: 10px double royalblue; */
    padding-bottom: 30px;
    height: 80%;
    padding-top: 10px;

}

.grid a {
    line-height: 30px;
}

.creators {
    /* position: absolute; */
    /* margin-top: calc(80% - ); */
    border: 10px double rgb(181, 160, 221);
    width: 80%;
    bottom: 10px;
    left: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}