body {
    position: relative !important;
    /* height: 100%; */
    font-family: 'Special Elite', 'Helvetica Neue';
    line-height: 25px;
    color: white;
    background-image: linear-gradient(to right top, #afad4f, #99b661, #84be78, #70c491, #5fc8aa);
    background-repeat: no-repeat;
    /* background-size: cover; */
    min-height: 100vh;

}



.grid {
    position: sticky;
    display: grid;
    grid-template-columns: 100%;
    /* border: 10px double royalblue; */
    padding-bottom: 30px;
    height: 80%;
    padding-top: 10px;

}

.grid a {
    line-height: 30px;
}

.creators {
    position: absolute;
    /* margin-top: calc(80% - ); */
    border: 10px double plum;
    width: 80%;
    bottom: 10px;
    left: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}