body {
    height: 100%;
    font-family: 'Special Elite', 'Helvetica Neue';
    line-height: 25px;
    width: 100sw;
    /* overflow: hidden; */
}

*{
    box-sizing: border-box;
}

.grid {
    position: sticky;
    display: grid;
    grid-template-columns: 100%;
    border: 10px double royalblue;
    padding-bottom: 30px;
    height: 80%;
    width: 100%;
}

.creators {
    position: absolute;
    border: 10px double plum;
    /* height: 10%; */
    bottom: 0%;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}