.slideshow {
    position: relative;
    background: #E9FFC2;
}

body {
  font-family: "Special Elite", "Comic Sans MS", "Helvetica Neue";
  line-height: 125%;
}

.slide_content {
  max-width: 60%;
}

img {
  border-radius: 50px;
  box-shadow: 5px 7px;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

.slides {
    display: none;
    padding: 80px;
    text-align: center;
}

.previous, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.forward {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.previous {
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
  }

.previous:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

.dot-container {
    text-align: center;
    padding: 20px;
    background: #C3EDC0;
  }
  

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.active, .dot:hover {
    background-color: #717171;
  }