.slideshow {
    position: relative;
    /* background: rgba(233, 255, 194, 40%); */
}

#home {
  /* position: fixed; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1, 1;
}

#individual_heading {
  line-height: 130%;
}

.heading {
  color: white;
  text-decoration: underline;
}

body>button:hover {
  transform: scale(1.2);
}

/* .heading {
  position: absolute;
  top: 10px
} */

body>button {
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  background-color: white;

  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;

  border: 1px solid black;
  z-index: 1000;
  transition: transform 0.4s;
}

.slide_content {
  max-width: 60%;
}

img {
  border-radius: 50px;
  box-shadow: 5px 7px;
}

body {
  font-family: "Special Elite", "Comic Sans MS", "Helvetica Neue";
  line-height: 125%;
  max-height: 100vh;
  max-width: 100vw;
  /* background-color: rgb(255,255,194); */
  /* background-size: cover; */
  position: relative;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.background {
  position: absolute;
  background-image: linear-gradient(0deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
  background-repeat: no-repeat;
  /* height: 100%; */
  /* min-height: 100vh; */
  /* min-width: 100vw; */
  width: 100%;
}

.slides {
    display: none;
    padding: 30px;
    text-align: center;
}

.previous, .forward {
    /* opacity: 200%; */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.forward {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.previous {
    position: absolute;
    left: 0;
    border-radius: 3px 0 0 3px;
  }

.previous:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

.dot-container {
    text-align: center;
    padding: 20px;
    /* background: rgba(195, 237, 192); */
  }
  

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.active, .dot:hover {
    background-color: #717171;
  }

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/stars.png') repeat;
    pointer-events: none;
    animation: twinkle 8s;
    animation-iteration-count: infinite;

}
@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }

}