:root{
    --blue:rgba(9, 9, 121, 1);
    --blue2:rgba(31, 65, 255, 0.536);
    

}
body {
    /* background-image: linear-gradient(180deg, rgba(6, 0, 103, 1) 0%, rgba(0, 78, 150, 1) 72%, rgba(0, 181, 255, 1) 100%); */
    background-color: rgb(14, 3, 54) !important;
    font-family: "Special Elite", "PT Sans", "Helvetica Neue";
    scroll-behavior: smooth;

    margin: 0;
    overflow-x: hidden;
    transition: scroll-behavior 10s;
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; */
    /* cursor: url("/styles/images/galaxy.png"),auto; */
}

#entry-text {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0%;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    color: white;
    
    
    

}


#landingpage {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;



}


#landingpage::before {
    content: '';
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(140, 60, 184, 1));
    z-index: -1;
}

#spacebgimg {
    background-image: url("images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 0;

}

.btn {
    z-index: 4;
}

#gallery {
    height: fit-content;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    
}

#gallery h1{
    font-size: 5rem;
    margin-bottom: 25px;
    color: #FFF7D4;
}

#gallery >.grid-wrap {
    

    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    padding: 0 20px;
    

    
}

#gallery > .grid-wrap > div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


#gallery  .grid-wrap > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    border-radius: 12px;
    background-color: #000;
}

.grid-wrap .wide {
    grid-column: span 2;
}
.grid-wrap .tall{
    grid-row: span 2;
}
.grid-wrap .big{
    grid-column: span 2;
    grid-row: span 2;
}

#gallery .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: rgb(11, 47, 89);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    font-size: 1rem;
    top: 5px;
    right: 5px;
    z-index: 1;

}

#gallery > .grid-wrap > div:hover .tooltiptext{
    visibility: visible;

}

.transition-gal-bts{
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, var(--blue));
}



#buttons {
    height: fit-content;
    width: 100%;
    
    display: grid;
    grid-template-rows: 1fr 100px;
    align-items: center;
    background:var(--blue2);
    position: relative;
    
    
   

    
}

#buttons #list-bts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-evenly;
    height: 100%;
    background-color:var(--blue);
    border-radius: 0 0 45px 45px;
    align-items: center;
    padding-bottom: 20px;
    
    
}




#buttons button {
    position: relative;
    align-self: center;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #a88dff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #988eb9;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
    min-width: 250px;
    margin: 0 auto;
  }
  
  #buttons button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  #buttons button:active {
    transform: scale(0.9);
  }

#buttons section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 100%;
    
}
#buttons span{
    height: 100%;
    padding: 0 60px;
    background-color: var(--blue);
    position: relative;
    border-radius: 0 0 20px 20px;
}
#buttons span::before {
    visibility: hidden;
    content: "";
    position: absolute;
    
    background-color:transparent;
    top: 0;
    left: -25px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--blue);
    
  }
#buttons span::after {
    visibility: hidden;
    content: "";
    position: absolute;
    
    background-color:transparent;
    top: 0;
    right: -25px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--blue);
}




.transition-bts-ins{
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, transparent, var(--blue2));
}




#inception {
    height: 600px;
}

#title {
    padding-top: 20px;
    margin: 0;
    width: auto;
    z-index: 1;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

#title span {
    font-size: 5rem;
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
}

#subtext {
    font-size: 1.5rem;
    margin-bottom: 20px;
    z-index: 10;


}



#inception {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
    background: rgb(2, 0, 36);
    /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 59%, rgba(115, 0, 255, 1) 100%); */
    overflow-x: auto;

}


#center-inception {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    font-size: 5rem;
    position: relative;
}

#center-inception h1 {
    font-size: 5rem;
    margin: 0;
    text-align: center;
    color: aliceblue;
    transition: opacity 0.5s ease-in-out;


}


#center-inception span {
    font-size: 1.15rem;

}

.slide {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;

    scroll-behavior: smooth;
    overflow-x: scroll;
    max-width: 1000px;
    gap: 10px;

}


.slide section {
    padding: 40px 20px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 240px;
    border: 2px solid rgba(15, 1, 121, 0.173);
    border-radius: 12px;
    background-color: rgba(248, 21, 248, 0.196);

}


.slide .text .bgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    filter: blur(2px);
}


#center-inception .btn-next {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    padding: 0 10px;



    border-radius: 50%;
    background-color: blueviolet;
    border: none;

}

#go-to-bts {
    background: linear-gradient(to right, #196BCA, #6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
}

#go-to-bts:hover {
    background: linear-gradient(to right, #5482d0, #7d5ee3);
    background-color: #5482d0;
}

#go-to-bts:active {
    transform: scale(0.95);
}

@media (max-width:768px) {
    #buttons #list-bts{
        grid-template-columns: 1fr;
        padding-bottom: 15px;
    }
    #center-inception .btn-next {
        right: 0;
        top: -50px;
        
    
    }

    
}