body {
    height: 1000px;
    background-image: linear-gradient( #4d5ca2, #3f6ca8);
    font-family: "Special Elite", "PT Sans", "Helvetica Neue";
}

#entry-text {
    /* height: 100%; */
    width: 95%;
    position: fixed;
    text-align: center;
    bottom: 0%;
}

.para{
    font-weight: 100px;
}