body {
    height: 5000px;
    background-image: linear-gradient(180deg, rgba(6,0,103,1) 0%, rgba(0,78,150,1) 72%, rgba(0,181,255,1) 100%);;
    font-family: "Special Elite", "PT Sans", "Helvetica Neue";
}

#main {
    background: url(images/stars.png) repeat-x;
    width: 100%;
    height: 100%;
}

#entry-text {
    /* height: 100%; */
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0%;
}

.container {
    overflow: hidden;
  }

.infinite-scrolling {
    background: url(images/stars.png) repeat-x;
    height: 6001px;
    width: 4869px;

    animation: slide 60s linear infinite;
  }

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-4869px, -6001px, 0); /* The image width */
    }
  }
  

