body {
    background-image: linear-gradient(180deg, rgba(6, 0, 103, 1) 0%, rgba(0, 78, 150, 1) 72%, rgba(0, 181, 255, 1) 100%);
    font-family: "Special Elite", "PT Sans", "Helvetica Neue";

    margin: 0;
    /* cursor: url("/styles/images/galaxy.png"),auto; */
}

#entry-text {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0%;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    color: white;

}


#landingpage {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}

#spacebgimg {
    background-image: url("/styles/images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

.btn {
    z-index: 4;
}

#timeline {
    height: 600px;
}

#events {
    height: 600px;
}

#inception {
    height: 600px;
}

#title {
    padding-top: 20px;
    margin: 0;
    width: auto;
    z-index: 1;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
#title span{
    font-size: 5rem;
    display: inline-block;
    vertical-align:top;
    padding-left: 8px;
}

#subtext{
    font-size: 1.5rem;
    margin-bottom: 20px;
    

}
