.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/stars.png') repeat;
    pointer-events: none;
    animation: twinkle 8s;
    animation-iteration-count: infinite;
    z-index: 0;

}

button{
    cursor: pointer;
}
@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }

}

.full_image img {
    display: block;
    box-shadow: 0px 0px 40px 40px #0ff;
    object-fit: cover;
    width: 100%;
    height: 100%; 
    /* background-color: transparent; */
    /* padding-left: 150%; */
    /* margin: auto; */
}

h1 {
    padding: 15px;
}

body {
    font-family: "Special Elite", "Helvetica Neue";
    line-height: 20px;
    background-image: linear-gradient(99.9deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    color: white;
}

body>button:hover {
    transform: scale(1.2);
}

#home {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1, 1;
}

body>button {
    position: fixed;
    top: 20px;
    right: 20px;
    overflow: hidden;
    background-color: white;

    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;

    border: 1px solid black;
    z-index: 1000;
    transition: transform 0.4s;
}

.grid {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
}

.main_text p {
    /* border: 1px solid black; */
    padding: 10px;
    /* background-color: darkorange; */
    height: 25%;
}

.main_text {
    background-color: rgb(59, 37, 198);
    height:fit-content;
    border-radius: 12px;
    box-shadow: 0 0 40px 20px rgba(69, 14, 117, 0.739);
}

.side_text {
    border: 1px solid black;
    padding: 10px;
    /* position: absolute; */
}

.full_image {
    
    left: calc(15% - 64px);
    padding: 20px;
    position: absolute;
    /* bottom: 2%; */
    text-align: center;
    /* border: 1px solid black; */
    /* margin-left: 100px; */
    /* box-shadow: 0px 0px 40px 20px #0ff; */
    background-color: transparent;
    /* z-index: -1; */
}


.full_image img:hover {
    transform: scale(1.25);
    /* box-shadow: 0px 0px 40px 20px transparent; */
    box-shadow: 0px 0px 40px 20px rgb(249, 255, 131, 40);
}


p:hover {
    animation: color 2s;
    color: rgb(255, 223, 45);
    cursor:default;
}



@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 100px;
        /* grid-template-columns: 100%; */
        /* .side_text {
        visibility: hidden;
    } */
    }

    .full_image {
        position: relative;
        transform: scale(0.1);
        padding: 0%;
        object-position: center;
        /* left: calc(50% - 64px); */
        /* height: 500px; */
}
}