body {
    background-color: wheat !important;
    font-family: sans-serif;
    background-image: linear-gradient(0deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    position: relative;
    height:100vh;


}

body>button {
    position: fixed;
    top: 20px;
    right: 20px;
    overflow: hidden;
    background-color: white;

    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;

    border: 1px solid black;
    z-index: 1000;
    transition: transform 0.4s;
}

body>button:hover {
    transform: scale(1.2);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1, 1;
}

h1{
    align-self:center ;
    text-align: center;
    font-size: 4rem;
    color: aliceblue;
    margin: 20px;

}
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/styles/images/stars.png') repeat;
    pointer-events: none;
    animation: twinkle 8s;
    animation-iteration-count: infinite;
    z-index: -100;

}



#quiz-container{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    height: min-content;   
    grid-template-columns: 1fr;
    color: aliceblue;
    gap: 10px;
    max-width: 1000px;
    
    
}

#quiz-container .item{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.options-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.options-list > label{
    min-width: 300px;
    padding: 20px 0;
    background-color: rgb(42, 24, 65);
    border-radius: 12px;
}
.options-list > label:hover{
    background-color: rgb(95, 60, 140);
}


.btn{
    margin-top: 12px;
    
    min-width: 300px;
    height: 50px;
    border-radius: 12px;
    border:none;
    cursor: pointer;
    color: white;
    background-color: rgb(146, 127, 255);
    transition: all 0.4s;
    box-shadow: 0 0 40px 5px rgb(146, 127, 255);


}

.btn:hover{
    transform: scale(1.09);

}

.btn:active{
    transform: scale(0.7);
}


#question{
    font-size: 1.5rem;
}

