body {
    background-color: wheat !important;
    font-family: sans-serif;
    background-image: linear-gradient(0deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
    position: relative;


}






#quiz-container{
    display: grid;
    justify-content: center;   
    height: 200px;
    grid-template-rows: 20px 20px ;
    color: aliceblue;
    
    
}